#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Matriz 2x4 (8 botones) - Posiciones 0-7
                &kp N1  &kp N2  &kp N3  &kp N4    // Fila 1
                &kp N5  &kp N6  &kp N7  &kp N8    // Fila 2
                
                // GPIO Directo (15 pines) - Posiciones 8-22
                &kp A   // P0.02
                &kp B   // P0.11
                &kp C   // P0.09
                &kp D   // P0.10
                &kp E   // P0.29
                &kp F   // P0.31
                &kp G   // P1.00
                &kp H   // P1.01
                &kp I   // P1.02
                &kp J   // P1.04
                &kp K   // P1.06
                &kp L   // P1.07
                &kp M   // P1.11
                &kp N   // P1.13
                &kp O   // P1.15
            >;
        };
    };
};