/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_composite {
        compatible = "zmk,kscan-composite";
        label = "KSCAN";
        rows = <2>;
        columns = <4>;

        // Matriz 3x3 primero
        matrix {
            kscan = <&kscan1>;
        };

        // GPIO directo desplazado debajo de la matriz
        direct {
            kscan = <&kscan2>;
            row-offset = <2>;
        };
    };

    kscan1: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";
        label = "MATRIX";
        wakeup-source;
        
        diode-direction = "col2row";
        
        col-gpios
            = <&gpio0 17 GPIO_ACTIVE_HIGH>  // Column1 - P0.17
            , <&gpio0 20 GPIO_ACTIVE_HIGH>  // Column2 - P0.20
            , <&gpio0 22 GPIO_ACTIVE_HIGH>  // Column3 - P0.22
            , <&gpio0 24 GPIO_ACTIVE_HIGH>  // Column3 - P0.24
            ;
        
        row-gpios
            = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Row1 - P0.06
            , <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // Row2 - P0.08
            ;
    };

};