#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    combos {
        compatible = "zmk,combos";
        
        combo_bt_clear {
            timeout-ms = <50>;
            key-positions = <0 7>;  // Posiciones 0 (Numpad1) y 7 (Numpad8)
            bindings = <&bt BT_CLR>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Matriz 2x4 (8 botones) - Numpad
                &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_N4
                &kp KP_N5  &kp KP_N6  &kp KP_N7  &kp KP_N8
                
                // GPIO Directo (13 pines)
                &kp KP_DOT       // P1.00 - Switch del encoder (presionar encoder)
                &kp KP_N9        // P0.02
                &kp F1           // P0.09
                &kp F2           // P0.10
                &kp KP_MULTIPLY  // P0.29
                &kp KP_DIVIDE    // P0.31
                &kp F3           // P1.01
                &kp F4           // P1.02
                &kp F5           // P1.06
                &kp F6           // P1.07
                &kp F7           // P1.11
                &kp F8           // P1.13
                &kp F9           // P1.15
            >;
            
            // Encoder: giro derecha = KP_PLUS (+), giro izquierda = KP_MINUS (-)
            sensor-bindings = <&inc_dec_kp KP_PLUS KP_MINUS>;
        };
    };
};